.barriba{
  display: inline-block;
  padding: 8px;
  width: auto;
  white-space: nowrap;
  height: 35px;
  background-color: #eee;
  border: 0;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-right: 10px;
}

.barriba:hover{
  background-color: #dbdbdb;
  transition-duration: 1s;
  cursor: pointer;
}

.carousel-wrap {
  margin-left: 100px;
  position: fixed;
  height: 50px;
  width: 80%;
  background-color: white;
}

.owl-carousel .owl-nav{
  overflow: hidden;
  height: 0px;
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
}
.owl-carousel .nav-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    position: absolute;
    width: 25px;
    cursor: pointer;
    top: 2px;
    border-radius: 50px;
    padding: 5px;
}

.owl-carousel .nav-btn:hover{
  background-color: #eee;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
  pointer-events: none;
  opacity: 0;
}

.owl-carousel .owl-nav .prev-slide{
    left: -35px;
}
.owl-carousel .owl-nav .next-slide{
    right: -35px;
}